<div class="text-center mt-5">
    <h2 style="color:darkblue">Add New Product: </h2>
  </div>
  <div class="shadow p-3 m-4 bg-white rounded">
  <div class="container px-2  " class="z-index:10; ">
  <form  (ngSubmit)="onSubmit(form)" #form="ngForm" class="ml-lg-5 pl-lg-5" >
    
      <div class="form-group row">
       
        <div class="col-sm-5">
            <label for="" style="font-weight: 600;">Name</label>
              <input type="text" class="form-control" id="clientId" placeholder="Add Product Name...." name="name" ngModel required #prodName="ngModel">
              <div *ngIf="prodName.errors?.required  && prodName.touched" class="errorDiv">
                *Name is required!
            </div>
            </div>
          <div class="col-sm-5">
            <label for="" style="font-weight: 600;">Description</label>
            <input type="text" class="form-control" id="clientName" placeholder="Add Description...." name="description" ngModel required  #clientNameRef="ngModel">
            <div *ngIf="clientNameRef.errors?.required  && clientNameRef.touched" class="errorDiv">
              *Description is required!
          </div>
          </div>
        
        </div>
        <div class="form-group row">
      
            <div class="col-sm-3">
                <label for="" style="font-weight: 600;">Unit Amount</label>
                  <input type="number" class="form-control" id="phone" placeholder="Add Amount(in euros)...." name="unit_amount" ngModel required  #phoneRef="ngModel">
                  <div *ngIf="phoneRef.errors?.required  && phoneRef.touched" class="errorDiv">
                    *Amount is required!
                </div>
               
                </div>
              <div class="col-sm-3">
                <label for="recurring" style="font-weight: 600;">Recurring(Interval)</label>
                <select name="recurring" id="" class="form-control" [ngModel]="defaultRecurring">
                    <option value="month">Monthly</option>
                    <option value="year">Yearly</option>
                    <option value="week">Weekly</option>
                    <option value="day">Daily</option>
                    
                </select>
                <!-- <input type="email" class="form-control" id="email" placeholder="Recurring...." name="recurring" ngModel required #emailRef="ngModel"> -->
            
              </div>
              <div class="col-sm-4">
                <label for="unit_label" style="font-weight: 600;">Employee Count</label>
                <select name="unit_label" id="" class="form-control" [ngModel]="defaultEmpCount">
                  <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option> 
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option> 
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option> 
                    <option value="10">10</option>
                  <option value="-1">Unlimited</option>
                    
                    
                </select>
               
                </div>
    
        </div>
             
       
        
      <br>
  
      <div class="form-group row">
        <div class="col-sm-10 text-center">
          <button type="submit" class="btn" [disabled]="!form.valid" style="background-color: #F06528; width: 200px;border-radius: 10px; color: white;">Save</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  
    