a{
    color: white;
  }

  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    color: white;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 2.2rem;
    color: white;
    font-weight: 1000;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
    color: white;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
    
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
    color: white;
  }
  
  .myText
  {
      font-size: 30px;
      color: white;
  }
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
 
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  @media (max-width: 400px) {
      .myText{
          /* background-color: aqua; */
          font-size: 22px;
      }
  }


  .bg-light {
    background-color: #2874f0!important;
}

.bg-light1 {
    background-color: #b0bac9!important;
}


#page-content-wrapper{background-color: white;}