<div class="wrapper ">
    <div class="table2 " >
                                           
        <div class="row2">
      
          <div class="cell2 "  >
              <h2>Products</h2>
      
          </div>
          <div class="cell2" >
            <input type="text" [(ngModel)]="filteredStatus" class="form-control"  placeholder="Find Product....">
          </div>    
          <div class="cell2 " >
              <button (click)="newProduct()" class="btn btn-success mb-1"><i class="fa fa-plus" aria-hidden="true" ></i> New Product</button>
          </div>       
                         
        </div>                     
      </div> 
   
    <div class="table shadow p-3 mb-5">
      
      <div class="row header" >
        
        <div class="cell">
         S.No
        </div>
       
        <div class="cell">
         Product Name
        </div>
        <div class="cell">
           Description
        </div>
        <div class="cell">
            Created On
        </div>
        <div class="cell">

        </div>
        <div class="cell">

        </div>
        <div class="cell">

        </div>
      </div>
      
      <div class="row" *ngFor="let prod of products | nameFilter : filteredStatus;let i = index;">
      
        <div class="cell" data-title="S.No."  >
            {{i+1}}
           
        </div>
       
        <div class="cell" data-title="Product Name"  >
            {{ prod.name | titlecase}}
           
        </div>
        <div class="cell" data-title="Description">
            {{ prod.description}}
        </div>
        <div class="cell" data-title="Created On">
            {{ prod.created }}
        </div>
        <div class="cell" data-title="">
            <button (click)="checkPrices(prod.prices)" class="btn btn-warning" style="color: white; font-weight: 700; border-radius: 15px;">Check Prices</button>
        </div>
        <div class="cell">
            <a href={{prod.type}} target="_blank"><i class="fas fa-pen" aria-hidden="true" style="color: rgb(61, 162, 224); font-size: 20px; cursor: pointer; text-decoration: none;"></i></a>
        </div>
        <div class="cell">
            <a  href={{prod.type}} target="_blank" style="color: red; cursor: pointer;">  <i class="fas fa-trash" aria-hidden="true" style="color: red; font-size: 20px;"></i></a>
            </div>
      
      </div>
          
    </div>
</div> 
  
