<div class="text-right mb-2">

    <button mat-raised-button id="model-cancel-button" class="btn btn-danger" (click)="closeModel()">X</button>
    
</div>
<div class="bodyClass">
<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Change password</h3>
		
		<!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->
		
		<div class="card-text">
			<form (ngSubmit)="onSubmit(form)" #form="ngForm">
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Token Sent!</strong> You should check your mail for token.
  <a class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Enter Token</label>
					<input type="text" name="token" ngModel required class="form-control form-control-sm" #tokenRef="ngModel">
					<div *ngIf="tokenRef.errors?.required  && tokenRef.touched" class="errorDiv">
						*Token is required!
					</div>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">New Password</label>
					<input type="password" name="newPassword" ngModel required class="form-control form-control-sm" maxlength="12" minlength="8" #passRef="ngModel">
					<div *ngIf="passRef.errors?.required  && passRef.touched" class="errorDiv">
						*Password is required!
					</div>
					<div *ngIf="!passRef.valid  && passRef.touched && passRef.value!=''" class="errorDiv">
						*Enter Valid Password(8-12 char)!
					</div>
				</div>
				<button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block submit-btn">Confirm</button>
			</form>
		</div>
	</div>
</div>
</div>
